<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.example.myserver</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>UserName</key>
	<string>your-username-here</string>
	<key>GroupName</key>
	<string>staff</string>
	<key>StandardOutPath</key>
	<string>/usr/local/var/log/myserver.log</string>
	<key>StandardErrorPath</key>
	<string>/usr/local/var/log/myserver.log</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/sbin/launch_socket_server</string>
		<string>/usr/local/bin/myserver</string>
	</array>
	<key>Sockets</key>
	<dict>
		<key>Socket</key>
		<dict>
			<key>SockNodeName</key>
			<string>0.0.0.0</string>
			<key>SockServiceName</key>
			<string>http</string>
		</dict>
	</dict>
</dict>
</plist>
